<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-transferencias">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="hacerTraspaso"
      url="http://localhost:3000/apitechu/v3/transferencia"
      method="POST"
      handle-as="json"
      on-response="ejecutarTraspaso"
      on-error="mostrarErrorejecutarTraspaso">
    </iron-ajax>

    <th>&nbsp;&nbsp;&nbsp;IBAN Origen <input size=25 type="ibanorig" value="{{ibanorig::input}}"/>Importe <input type="importe" value="{{importe::input}}"/></th>
    <th>IBAN Destino <input size=25 type="ibandes" value="{{ibandes::input}}"/> <button on-click="hacerTraspaso" >OK</button></th>


  </template>

  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class VisorTransferencias extends Polymer.Element {
      static get is() { return 'visor-transferencias'; }
      static get properties() {
        return {
          transferencia: {
            type: Boolean,
            value: true
          }
        };
      }
      hacerTraspaso(){
        this.$.hacerTraspaso.headers.ibanorig = this.ibanorig
        this.$.hacerTraspaso.headers.ibandes = this.ibandes
        this.$.hacerTraspaso.headers.importe = this.importe
        this.$.hacerTraspaso.headers.moneda = "EUR"
        this.$.hacerTraspaso.generateRequest()
      }
      ejecutarTraspaso(resultado){
        this.dispatchEvent(new CustomEvent("eventotraspaso"))
        console.log("Se ha hecho un traspaso, volver a situación anterior")
      }
    }

    window.customElements.define(VisorTransferencias.is, VisorTransferencias);
  </script>
</dom-module>
