<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="hacerLogin"
      url="http://localhost:3000/apitechu/v3/login"
      method="POST"
      handle-as="json"
      on-response="mostrarResultadoLogin"
      on-error="mostrarError">
    </iron-ajax>

    <div class="row">
      <h5>email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" value="{{email::input}}" /></h5>
      <h5>password <input type="password" value="{{password::input}}" /></h5>
      <button on-click="logar">Login</button>
      <h5  <span hidden$="{{errorlogin}}"> Usuario o Password incorrecto. Intentelo de nuevo</span></h5></br></br></br>
      <button on-click="alta">¡Quiero registrame!</button>
    </div>
    <!--<span hidden$="{{!logado}}">Bienvenido de nuevo</span>-->
  </template>

  <script>
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          errorlogin: {
            type: Boolean,
            value: true
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
    mostrarResultadoLogin(resultado){
      console.log("4. Llegaron los resultados")
      console.log(resultado)
      console.log(resultado.detail.response.Login)
      if (resultado.detail.response.Login == "KO"){
        console.log("Login KO")
        this.errorlogin = false
      }
      else {
        console.log("5. Proceso los resultados")
        this.logado = true
        this.errorlogin = true
        this.dispatchEvent(new CustomEvent("eventologar", {"detail":{"id":resultado.detail.response.id}}))
      }
    }
    logar() {
      console.log("1. El usuario ha pulsado el boton")
      this.$.hacerLogin.headers.email = this.email
      this.$.hacerLogin.headers.password = this.password
      console.log("2. Voy a enviar la peticion, el email es " + this.email )
      this.$.hacerLogin.generateRequest()
      console.log("3. Peticion enviada")
    }
    mostrarError(error){
      console.log("4. Llega el error")
      console.log(error)
      this.logado = false
    }
    alta(){
      this.dispatchEvent(new CustomEvent("eventoalta"))
    }
}
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
