<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<!---<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!--<iron-ajax
      id="obtenerMovimientos"
      url="http://localhost:3000/apitechu/v3/movimientos"
      handle-as="json"
      on-response="mostrarMovimientos"
      on-error="mostrarErrorCuentas">
    </iron-ajax>-->

    <!---<template is="dom-repeat" items="{{cuentas}}">
      <span>{{item.iban}}<br></br></span>
    </template>--->
    <h3>Su posicion global es {{posicionglobal}} €</h3>

    <table class="table table-striped">
      <thead>
        <th>id</th>
        <th>fecha</th>
        <th>importe</th>
        <th>moneda</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{movimientos}}">
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.importe}}</td>
            <td>{{item.moneda}}</td>
          <tr>
          </template>
      </tbody>
    </table>
    <br/>
    <br/>
    <br/>
  </template>

  <script>
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          valores: {
            type: Boolean,
            value: true
          },
          cuentas: {
            type: Array
          },
          id: {
            type: Number
          },
          movimientos: {
            type: Array
          },
          posicionglobal: {
            type: Number
          },
          iban: {
            type: String
          }
        };
      }
      verMovimientos(){
        this.$.obtenerMovimientos.headers.iban = this.iban
        console.log("He llegado hasta ver movimientos")
        console.log(this.iban)
        this.$.obtenerMovimientos.generateRequest()
      }
      mostrarMovimientos(resultado){
        console.log("Ahora se supone que voy a mostrar los movimientos")
        this.movimientos = resultado.detail.response
      }
      obtenerPosicionGlobal(id){
        console.log("OPG1. Obtengo posicion global para usuario" + id)
        this.$.obtenerPosicionGlobal.headers.idcliente = id
        this.$.obtenerPosicionGlobal.generateRequest()
      }
      mostrarPosicionGlobal(resultado){
        console.log("MPG1. Muestro posicion global" + resultado.detail.response.saldo)
        this.posicionglobal = resultado.detail.response.saldo
      }
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
