<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/token-usuario/token-usuario.html">
<link rel="import" href="/src/visor-transferencias/visor-transferencias.html">

<!---<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

<dom-module id="visor-cuentas">
  <template>
    <style>
      [hidden] {
        display: none !important;
      }
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="obtenerCuentas"
      url="http://localhost:3000/apitechu/v3/ibanporid"
      handle-as="json"
      on-response="mostrarCuentas"
      on-error="mostrarErrorCuentas">
    </iron-ajax>

    <iron-ajax
      id="obtenerMovimientos"
      url="http://localhost:3000/apitechu/v3/movimientos"
      handle-as="json"
      on-response="mostrarMovimientos"
      on-error="mostrarErrorCuentas">
    </iron-ajax>

    <iron-ajax
      id="obtenerPosicionGlobal"
      url="http://localhost:3000/apitechu/v3/cuentas/posglobal"
      handle-as="json"
      on-response="mostrarPosicionGlobal"
      on-error="mostrarErrorposicionGlobal">
    </iron-ajax>

    <iron-ajax
      id="abrirCuenta"
      url="http://localhost:3000/apitechu/v3/addcuenta"
      method="POST"
      handle-as="json"
      on-response="obtenerCuentasNuevas"
      on-error="mostrarErrorposicionGlobal">
    </iron-ajax>

    <iron-ajax
      id="hacerTraspaso"
      url="http://localhost:3000/apitechu/v3/transferencia"
      method="POST"
      handle-as="json"
      on-response="ejecutarTraspaso"
      on-error="mostrarErrorejecutarTraspaso">
    </iron-ajax>

    <!---<template is="dom-repeat" items="{{cuentas}}">
      <span>{{item.iban}}<br></br></span>
    </template>--->
    <h4>&nbsp;&nbsp;&nbsp;Posicion global: {{posicionglobal}} €</h4>


    <table class="table" <span hidden$="{{bcuentas}}">{{item.iban}}</span>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <thead>
        <th>IBAN</th>
        <th>SALDO</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{cuentas}}">
          <tr>
            <td>{{item.iban}}</td>
            <td>{{item.saldo}}€</td>
        <!--    <td><button on-click="verMovimientos">Ver Movimientos {{item.iban}}</button>
            <td><a class="btn btn-info" href="/movimientos/[[item.iban]]" onclick="verMovimientos">Ver movimientos</a></td>-->
          </tr>
          </template>
      </tbody>
      </link>
    </table>
    <button <span hidden$="{{bcuentas}}" on-click="abrirCuenta">Nueva cuenta</span></button>
    <button <span hidden$="{{bcuentas}}" on-click="obtenerCuentasNuevas">Refrescar cuentas</span></button>
    <button <span hidden$="{{bcuentas}}" on-click="transfer">Transferencia</span></button>
    <br></br>
    <br></br>
    <div class="row">
      <h7><span hidden$="{{gcuentas}}">&nbsp;&nbsp;&nbsp;Introduce IBAN para ver movimientos <input size=40 type="iban" value="{{iban::input}}" /><button on-click="verMovimientos">Ver movimientos</button></span></h5>

    </div>
    <table class="table" <span hidden$="{{valores}}"></span>
      <thead>
        <th>ID</th>
        <th>FECHA</th>
        <th>IMPORTE</th>
        <th>MONEDA</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{movimientos}}">
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.importe}}€</td>
            <td>{{item.moneda}}</td>
          <tr>
          </template>
      </tbody>
    </table>

    <button <span hidden$="{{!bcuentas}}" on-click="volver">Volver</span></button>
    <br/>

    <div class="row">

      <token-usuario hidden$="{{transferencia}}" id="tkn" on-eventovalidar="getSecret" on-eventotoken="datosTransferencia"></token-usuario>
      <visor-transferencias hidden$="{{transferencia3}}" id="vtr" on-eventotraspaso="PostTraspaso"></visor-transferencias>
    </div>

  </template>

  <script>
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          transferencia: {
            type: Boolean,
            value: true
          },
          transferencia2: {
            type: Boolean,
            value: true
          },
          transferencia3: {
            type: Boolean,
            value: true
          },
          valores: {
            type: Boolean,
            value: true
          },
          bcuentas: {
            type: Boolean,
            value: false
          },
          // Gestionar cuentas
          cuentas: {
            type: Boolean,
            value: false
          },
          cuentas: {
            type: Array
          },
          id: {
            type: Number
          },
          movimientos: {
            type: Array
          },
          posicionglobal: {
            type: Number
          },
          iban: {
            type: String
          }
        };
      }
      mostrarCuentas(resultado){
        console.log("MC1. Estas son las cuentas")
        console.log(resultado.detail.response)
        console.log("MC2. Y este el resultado que me han pasado")
        console.log(resultado)
        this.cuentas = resultado.detail.response
      }
      mostrarErrorCuentas(error){
        console.log(error.detail.response)
      }
      obtenerCuentas(id) {
        this.$.obtenerCuentas.headers.idcliente = id
        console.log("OC1:" + id)
        this.id = id
        this.$.obtenerCuentas.generateRequest()
      }
      obtenerCuentasNuevas() {
        this.$.obtenerCuentas.headers.idcliente = this.id
        console.log("OCN1:" + this.id)
        this.$.obtenerCuentas.generateRequest()
      }
      abrirCuenta() {
        this.$.abrirCuenta.headers.idcliente = this.id
        console.log("AC1:" + this.$.abrirCuenta.headers.idcliente)
        this.$.abrirCuenta.generateRequest()
      }
      verMovimientos(){
        this.$.obtenerMovimientos.headers.iban = this.iban
        console.log("He llegado hasta ver movimientos")
        console.log(this.iban)
        this.$.obtenerMovimientos.generateRequest()
        this.valores = false
        this.bcuentas = true
      }
      mostrarMovimientos(resultado){
        console.log("Ahora se supone que voy a mostrar los movimientos")
        this.movimientos = resultado.detail.response
      }
      volver(){
        this.valores = true
        this.bcuentas = false
      }
      obtenerPosicionGlobal(id){
        console.log("OPG1. Obtengo posicion global para usuario" + id)
        this.$.obtenerPosicionGlobal.headers.idcliente = id
        this.$.obtenerPosicionGlobal.generateRequest()
      }
      mostrarPosicionGlobal(resultado){
        console.log("MPG1. Muestro posicion global" + resultado.detail.response.saldo)
        this.posicionglobal = resultado.detail.response.saldo
      }
      transfer(){
        console.log("Transfer")
        this.transferencia = false
        this.gcuentas = true
      }

      PostTraspaso(){
        this.bcuentas = false
        this.gcuentas = false
        this.transferencia = true
        this.transferencia2 = true
        this.transferencia3 = true
      }

      getSecret(){
        var id = this.id
        this.$.tkn.obtenerSecreto(id)
      }
      datosTransferencia(){
        this.transferencia = true
        this.transferencia2 = false
        this.transferencia3 = false
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
