<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
      auto=""
      id="obtenerUsuario"
      url="http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/usuarios/{{id}}"
      handle-as="json"
      on-response="mostrarDatos">
    </iron-ajax>
    <div class="row">
      <h1 class="col-4">{{nombre}}</h1>
      <h2 class="col-4">{{apellido}}</h2>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          id: {
            type: Number
          },
          country: {
            type: String,
            value: "Desconocida"
          }
        };
      }
      mostrarDatos(datos) {
        console.log(datos.detail)
        console.log(datos.detail.response)
        this.nombre = datos.detail.response.nombre
        this.apellido = datos.detail.response.apellido
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
