<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="alta-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h4>Alta de usuario <h6>Adelante!!</h6></h4>
    <h2></h2>

    <iron-ajax id="nuevoUsuario"
      url="http://localhost:3000/apitechu/v3/adduser"
      method="POST"
      handle-as="json"
      on-response="mostrarResultadoAlta"
      on-error="mostrarError">
    </iron-ajax>

    <div class="row">
      <h5>Nombre <input type="first_name" value="{{first_name::input}}"/></h5>
      <h5>Apellidos <input type="last_name" value="{{last_name::input}}"/></h5>
      <h5>email <input type="email" value="{{email::input}}"/></h5>
      <h5>Género <input type="gender" value="{{gender::input}}"/></h5>
      <h5>País <input type="country" value="{{country::input}}"/></h5>
      <h5>Teléfono <input type="telefono" value="{{telefono::input}}"/></h5>
      <h5>Contraseña <input type="password" value="{{password::input}}"/></h5>
      <button on-click="darAlta">Darme de alta</button>
    </div>

  </template>

  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String,
          },
          gender: {
            type: String,
          },
          country: {
            type: String,
          },
          telefono: {
            type: Number,
          },
          password: {
            type: String,
          }
        };
      }
    mostrarResultadoAlta(resultado){
      console.log("4. Llegaron los resultados")
      console.log(resultado)
      console.log("5. Proceso los resultados")
      this.dispatchEvent(new CustomEvent("eventofinalta"))
    }
    darAlta() {
      console.log("1. El usuario ha pulsado el boton")
      this.$.nuevoUsuario.headers.first_name = this.first_name
      this.$.nuevoUsuario.headers.last_name  = this.last_name
      this.$.nuevoUsuario.headers.email  = this.email
      this.$.nuevoUsuario.headers.gender  = this.gender
      this.$.nuevoUsuario.headers.country  = this.country
      this.$.nuevoUsuario.headers.telefono  = this.telefono
      this.$.nuevoUsuario.headers.password  = this.password
      console.log("2. Voy a enviar la peticion")
      this.$.nuevoUsuario.generateRequest()
      console.log("3. Peticion enviada")
    }
    mostrarAlta(datos){
      console.log(datos)
    }
  }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
