<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="fejmeproyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <input type="text" value="{{nombre::input}}"/>
    <input type="text" value="{{apellidos::input}}"/>
    <input type="text" value="{{edad::input}}"/>
    <h2>Soy {{nombre}} {{apellidos}} </h2>
    <h2>Soy [[nombre]] [[apellidos]]</h2>
    <input type="number" min="18" max="45" value="{{edad::input}}"
    <h3>y tengo [[edad]] años </h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FejmeproyectoApp extends Polymer.Element {
      static get is() { return 'fejmeproyecto-app'; }
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellidos: {
            type: String
          },
          edad: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(FejmeproyectoApp.is, FejmeproyectoApp);
  </script>
</dom-module>
