<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="hacerLogout"
      url="http://localhost:3000/apitechu/v3/logout"
      method="POST"
      handle-as="json"
      on-response="mostrarResultadoLogout"
      on-error="mostrarError">
    </iron-ajax>
    
    <button on-click="salir">Logout</button>
  </template>

  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      mostrarResultadoLogout(resultado){
        console.log("5. Saliendo")
        console.log(resultado)
        console.log("6. Proceso el Logout")
        this.logado = false
        //this.dispatchEvent(new CustomEvent("eventologout", {"detail":{"id":resultado.detail.response.id}}))
      }
      salir() {
        console.log("1. El usuario ha pulsado el boton Logout")
        console.log("2. Voy a enviar la peticion")
        //this.$.hacerLogout.generateRequest()
        console.log("3. Peticion enviada")
        this.dispatchEvent(new CustomEvent("eventologout"))
      }
      hacerLogout(id){
        console.log("4. Vamos a salir")
        //console.log("2. Voy a enviar la peticion")
        this.$.hacerLogout.headers.id = id
        this.$.hacerLogout.generateRequest()
        //this.$.hacerLogout.generateRequest()
        //console.log("3. Peticion enviada")
        //console.log("4. Logout de usuario: " + id)
      }
      mostrarError(error){
        console.log("4. Llega el error")
        console.log(error)
        this.logado = false
      }
  }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
