<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="token-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="obtenerSecreto"
      url="http://localhost:3000/apitechu/v3/getsecretid"
      method="get"
      handle-as="json"
      on-response="misecret"
      on-error="misecret">
    </iron-ajax>

    <iron-ajax
      id="validarSecreto"
      url="http://localhost:3000/apitechu/v3/2f"
      method="get"
      handle-as="json"
      on-response="mostrarResultadoToken"
      on-error="mostrarError">
    </iron-ajax>

    <div class="row">
      <h5> &nbsp;&nbsp;&nbsp;Token <input type="password" value="{{token::input}}" /> <button on-click="tokenear">Validar token</button></br></br></br></h5>
      <h5  <span hidden$="{{errortoken}}"> Token incorrecto. Intentelo de nuevo</span></h5></br></br></br>
    </div>
  </template>

  <script>

    class TokenUsuario extends Polymer.Element {
      static get is() { return 'token-usuario'; }
      static get properties() {
        return {
          token: {
            type: Number
          },
          errortoken: {
            type: Boolean,
            value: true
          },
          id: {
            type: Number
          }
        }
      }
        tokenear(){
          this.dispatchEvent(new CustomEvent("eventovalidar"))
          console.log("Tokenear. Desde token-usuario genero evento validar para componente en visor cuentas")
        }
        secondf() {
          this.dispatchEvent(new CustomEvent("eventosecondf"))
        }
      /*  tokenear() {
          console.log("1. El usuario ha pulsado el boton token y busco su secreto")
          this.$.tokenear.headers.token = this.token
          this.$.tokenear.generateRequest()
          console.log("3. Peticion enviada")
        }*/
        misecret(resultado) {
          console.log("Este es el secreto:" + resultado.detail.response.secret)
          console.log("Y este es el token:" + this.token)
          this.$.validarSecreto.headers.token = this.token
          this.$.validarSecreto.headers.secret = resultado.detail.response.secret
          this.$.validarSecreto.generateRequest()
          //console.log(resultado.detail.response.secret)
        }
        obtenerSecreto(id) {
          this.$.obtenerSecreto.headers.id = id
          console.log("Voy a obtener el secreto en funcion obtenerSecreto de token-usuario")
          this.id = id
          this.$.obtenerSecreto.generateRequest()
        }
        mostrarResultadoToken(resultado){
          //console.log("Este es el resultado")
          console.log(resultado.detail.response.Resultado)
          //console.log(resultado.detail.response.Login)
          if (resultado.detail.response.Resultado == false){
            console.log("Token KO")
            this.errortoken = false
          }
          else {
            console.log("Token valido")
            //this.logado = true
            this.errortoken = true
            this.dispatchEvent(new CustomEvent("eventotoken"))
          }
        }
    }

    window.customElements.define(TokenUsuario.is, TokenUsuario);
  </script>
</dom-module>
