<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-data-table/iron-data-table.html">

<dom-module id="cells-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Error 404</h1>
    <h2>URL No encontrada. Vuelva a buscar</h2>
  <!--  <template is="dom-bind">-->
  <iron-ajax url="data.json" last-response="{{data}}" auto></iron-ajax>
  <iron-data-table items="[[data]]">
    <data-table-column name="First Name">
      <template>[[item.name.first]]</template>
    </data-table-column>
    <data-table-column name="Last Name">
      <template>[[item.name.last]]</template>
    </data-table-column>
  </iron-data-table>
<!--</template>-->
  </template>

  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CellsComponent extends Polymer.Element {
      static get is() { return 'cells-component'; }
      static get properties() {
        return {
        };
      }
    }

    window.customElements.define(CellsComponent.is, CellsComponent);
  </script>
</dom-module>
