<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="/src/emisor-app/emisor-app.html">
<link rel="import" href="/src/receptor-app/receptor-app.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/logout-usuario/logout-usuario.html">
<link rel="import" href="/src/alta-usuario/alta-usuario.html">
<link rel="import" href="/src/elimina-usuario/elimina-usuario.html">
<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="/bower_components/ab-animated-banner/ab-animated-banner.html">
<link rel="import" href="/bower_components/google-map/google-map.html">
<link rel="import" href="/src/cells-component/cells-component.html">

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQHx_ki5OMm3DzBAFCEotFVXriPseDUVE&callback=initMap"
  type="text/javascript"></script>


<dom-module id="padre-app">
  <template>
    <style>
      [hidden] {
        display: none !important;
      }
      :host {
        display: block;
      }
      google-map {
    height: 300px;
    width:300px;
  }
    </style>
    <ab-animated-banner banner-options='{"headerTitle": "BBVA", "bodyArray": ["Queremos", "ser", "tu BANCO"]}'> </ab-animated-banner>

    <login-usuario hidden$={{!login}} id="lgu" on-eventologar="procesarLogado" on-eventoalta="mostrarAlta"></login-usuario>
    <alta-usuario hidden$={{!alta}} id="aus" on-eventofinalta="procesarAlta"></alta-usuario>
    <elimina-usuario hidden$={{elimina}} id="aus" on-eventobaja="procesarBaja"></elimina-usuario>
    <visor-cuentas hidden$={{cuentas}} id="vsc"></visor-cuentas>

  <!--  <cells-component></cells-component>-->
    <h5 hidden$={{cuentas}}> Su ubicacion</h5>
    <google-map hidden$={{cuentas}} latitude="40.480" longitude="-3.703" zoom="13">
<google-map-marker latitude="40.480287" longitude="-3.703933" title="BBVA Vaguada"></google-map-marker>
  </google-map>
    <br></br>
    <logout-usuario hidden$={{cuentas}} id="sal" on-eventologout="procesarSalida"></logout-usuario>  
    <button hidden$={{baja}} on-click="mostrarBaja">Darse de baja</button>
    <br></br>


  </template>

  <script>

    class PadreApp extends Polymer.Element {
      static get is() { return 'padre-app'; }
      static get properties() {
        return {
          estoylogado: {
            type: Boolean,
            value: false
          },
          idlog: {
            type: Number
          },
          alta: {
            type: Boolean,
            value: false
          },
          baja: {
            type: Boolean,
            value: false
          },
          elimina: {
            type: Boolean,
            value: true
          },
          login: {
            type: Boolean,
            value: true
          },
          cuentas: {
            type: Boolean,
            value: true
          }
        };
      }
      procesarLogado(e){
        var id = e.detail.id
        this.idlog = e.detail.id
        this.$.vsc.obtenerCuentas(id)
        this.$.vsc.obtenerPosicionGlobal(id)
        this.login = false
        this.baja = true
        this.cuentas = false
      }
      mostrarAlta(){
        //var id = e.detail.id
        //console.log("Procesando alta")
        this.alta = true
        this.login = false
        this.baja =true
        //this.$.aus.mostrarAlta()
      }
      procesarAlta(){
        this.alta = false
        this.login = true
        this.baja = false
      }
      mostrarBaja(){
        this.elimina = false
        this.login = false
        this.baja = true
      }
      procesarBaja(){
        this.elimina = true
        this.login = true
        this.baja = false
        console.log("PB1. Proceso la baja")
      }
      procesarSalida(e){
        var id = this.idlog
        //console.log("Voy a hacer logout del usuario: " + id)
        this.$.sal.hacerLogout(id)
        this.login = true
        this.baja = false
        this.cuentas = true
      }

    }

    window.customElements.define(PadreApp.is, PadreApp);
  </script>
</dom-module>
