<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="elimina-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="eliminarUsuario"
      url="http://localhost:3000/apitechu/v3/deluseremail"
      method="POST"
      handle-as="json"
      on-response="mostrarResultadoBaja"
      on-error="mostrarError">
    </iron-ajax>
    <iron-ajax id="motivoUsuario"
      url="http://localhost:3000/apitechu/v3/motivomail"
      method="POST"
      handle-as="json"
      on-error="mostrarError">
    </iron-ajax>

    <div class="row">
      <h5>Email <input size=20 type="email" value="{{email::input}}" /></h5>
      <h5>Indícanos el motivo por el cual lamentablemente nos dejas <input size=80 type="motivo" value="{{motivo::input}}" /></h5>
      <button on-click="darBaja">Darme de baja</button>
    </div>

  </template>

  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class EliminaUsuario extends Polymer.Element {
      static get is() { return 'elimina-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          }
        };
      }
    mostrarResultadoBaja(resultado){
      console.log("4. Llegaron los resultados")
      console.log(resultado)
      console.log("5. Proceso los resultados")
      this.dispatchEvent(new CustomEvent("eventobaja"))
    }
    darBaja() {
      console.log("1. El usuario ha pulsado el boton baja")
      this.$.eliminarUsuario.headers.email = this.email
      console.log("2. Voy a enviar la peticion")
      this.$.eliminarUsuario.generateRequest()
      console.log("3. Peticion enviada")
      console.log("1. Informando motivo")
      this.$.motivoUsuario.headers.email = this.email
      this.$.motivoUsuario.headers.motivo = this.motivo
      this.$.motivoUsuario.generateRequest()
      console.log("2. Motivo informado")
    }
    mostrarBaja(datos){
      console.log(datos)
    }
  }

    window.customElements.define(EliminaUsuario.is, EliminaUsuario);
  </script>
</dom-module>
